/* BASE */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

header {
  background-color: lightskyblue;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}